body {
    font-family: sans-serif;
    max-width: 700px;
    margin: 40px auto;
    line-height: 1.6;
    color: #333;
}

a {
    color: #0077cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1,
h2 {
    color: #111;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: justify;
    gap: 20px;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
}

footer * {
    align-items: center;
}

footer a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    font-size: 16px;
    gap: 8px;
}

footer a img {
    width: 1em;
    height: 1em;
    vertical-align: middle;
}

.h-card {
    display: inline-flex;
    gap: 2em;
}

.u-photo {
    border-radius: 100%;
    max-width: 10em;
    max-height: 10em;
}



body {
      font-family: sans-serif;
      max-width: 700px;
      margin: 40px auto;
      line-height: 1.6;
      color: #333;
    }

    a {
      text-decoration: none;
      color: #0077cc;
    }

    a:hover {
      text-decoration: underline;
    }

    .lado-a-lado {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      gap: 20px;
    }

    .lado-a-lado video,
    .lado-a-lado img {
      flex: 0 0 300px;
      border-radius: 12px;
    }

    .lado-a-lado>div {
      flex: 1;
      min-width: 250px;
    }