<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" type="text/css" href="/style.css"/>
  
  <title>{{POST_TITLE}} — {{SITE_TITLE}}</title>
  {{identidade_autor}}
</head>

<body>
  <a href="../{{BLOG_LINK}}">← Voltar</a>
  
  <article class="h-entry">
    <p class="tags">{{POST_TAGS}}</p>

    <h1 class="p-name">{{POST_TITLE}}</h1>
    
    <p>
      Por <a class="p-author h-card" href="https://{{SITE_URL}}{{ABOUT_PAGE_LINK}}">{{AUTHOR_NAME}}</a>, em 
      <time class="dt-published" datetime="{{POST_DATE_YYYY_MM_DD}}">{{POST_DATE_DD_bb_YYY}}</time> · 
      <a class="u-url" href="https://{{SITE_URL}}{{POSTS_DIR}}{{POST_PATH}}">Permalink</a>
    </p>


    <div class="e-content">
      {{POST_CONTENT}}
    </div>
    
  </article>
  <footer>
    <p>© 2025 Victor Cosme — Todos os direitos reservados.</p>
  </footer>
</body>
</html>