<!DOCTYPE html>
<html lang="pt-br">
<head>
</head>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/style.css"/>
    
    <title>{{SITE_TITLE}} — Tag: {{TAG_NAME}}</title>
    <meta name="description" content="{{AUTHOR_NAME}} — Saiba mais sobre mim.">
    <meta name="keywords" content="{{AUTHOR_NAME}}, blog pessoal, IndieWeb">

    <link rel="alternate" type="application/rss+xml" title="RSS" href="{{RSS_FEED_LINK}}"/>

    {{identidade_autor}}
</head>
<body>
{{header}}

<h2>Posts marcados com <em>{{TAG_NAME}}</em></h2>
{{TAG_POSTS}}

{{footer}}
</body>
</html>
